<template>
  <div class="columns">
    <div class="column is-three-quarters">
      <p class="title is-5 is-pulled-left">Area: {{ area }}</p>
      <p class="title is-5 is-pulled-right">Time: {{ timeDisplay }}</p>
      <div class="field">
        <div class="control">
          <!-- <b-field> -->
            <b-autocomplete
                v-model="query"
                :data="filteredDataArray"
                placeholder="Search cities"
                @select="option => selection = option">
                <template slot="empty">No results found</template>
            </b-autocomplete>
        <!-- </b-field> -->
        </div>
      </div>
      <a :disabled="isDisabled" @click="add" class="button is-primary is-pulled-right">Add city</a>
    </div>
    <div class="column">
      <h5 class="title is-4">Choosen cities</h5>
      <ul>
        <li v-for="(city, index) in selectedCitites" v-bind:key="index">{{ city }} <a @click="deleteCity(index)" class="delete"></a></li>
      </ul>
      <div class="section">
        <a @click="finishGame" class="button is-danger is-fullwidth">Finish the game</a>        
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'game',
  data () {
    return {
      selection: null,
      selectedCitites: [],
      data: [],
      query: '',
      area: '',
      time: {
        minutes: 0,
        seconds: 0
      },
      correctItems: [],
      interval: null
    }
  },

  computed: {
    filteredDataArray () {
      return this.data.filter((option) => {
        return option
            .toString()
            .toLowerCase()
            .indexOf(this.query.toLowerCase()) >= 0
      })
    },

    isDisabled: function () {
      return this.selection === null
    },

    timeDisplay: function () {
      let minutes = this.time.minutes < 10 ? '0' + this.time.minutes : this.time.minutes
      let seconds = this.time.seconds < 10 ? '0' + this.time.seconds : this.time.seconds

      return minutes + 'm ' + seconds + 's'
    }
  },

  mounted () {
    this.getData()
  },

  methods: {
    selected: function (selection) {
      this.selection = selection
    },

    deleteCity: function (index) {
      this.selectedCitites.splice(index, 1)
    },

    add: function () {
      // Disallow empty submits
      if (this.selection == null) {
        return
      }

      this.selectedCitites.push(this.selection)

      // Find selected item in data array and remove it to avoid duplicate entries
      this.data.splice(this.data.indexOf(this.selection), 1)

      // Clear inputs
      this.selection = null
      this.query = ''
    },

    finishGame () {
      let totalGuessed = 0

      // Just because indexOf doesn't work as it should :)
      for (let i = 0; i < this.selectedCitites.length; i++) {
        let city = this.selectedCitites[i]

        for (let j = 0; j < this.correctItems.length; j++) {
          let correctCity = this.correctItems[j]

          if (city.toString() === correctCity.toString()) {
            totalGuessed++
          }
        }
      }

      // Clear interval if we finis the game prematurly
      if (this.interval != null) {
        clearInterval(this.interval)
      }

      let percent = totalGuessed * 100 / this.correctItems.length
      this.$router.push({ name: 'results', params: { percent: percent } })
    },

    startTimer: function (duration) {
      var timer = duration
      this.interval = setInterval(() => {
        this.time.minutes = parseInt(timer / 60, 10)
        this.time.seconds = parseInt(timer % 60, 10)

        if (--timer < 0) {
          if (this.interval != null) {
            clearInterval(this.interval)
          }
          this.finishGame()
        }
      }, 1000)
    },

    getData () {
      this.$http.get(`static/podaci.json`)
        .then(({ data }) => {
          this.data = data.ponudjene
          this.correctItems = data.tacno
          this.time.minutes = parseInt(data.vreme / 60, 10)
          this.time.seconds = parseInt(data.vreme % 60, 10)
          this.area = data.oblast

          this.startTimer(data.vreme)
          // this.startTimer(5)
          console.log(this.correctItems)
        }, response => { })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
