<template>
  <div>
    <p>Total percentage guessed: {{ percentDisplay.width }}</p>
    <div class="progress-bar">
        <span class="progress-bar-fill" :style="percentDisplay"></span>
    </div>
    <div class="section">
        <a href="/" class="button is-success">Play again</a>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      percentDisplay: {
        width: '0%'
      }
    }
  },

  mounted () {
    setTimeout(() => {
      this.percentDisplay.width = this.$route.params.percent + '%'
    }, 500)
  }
}
</script>

<style>
.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 64px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 20px;
  background-color: hsl(141, 71%, 48%);
  border-radius: 64px;
    
  transition: width 1s ease-in-out;
}
</style>
